<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<marquee><h2 class="mb-4 text-center" style="color:black">Welcome to student Feedback portal</h2></marquee>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <img src="https://srivasaviengg.ac.in/image/mylib1.jpg" class="card-img-top" alt="college Image">
            <div class="card-body">
                <h5 class="card-title">Sri vasavi Institue of Technology</h5>
                <p class="card-text">
                 Sri vasavi Institute is a premier institution known for excellence in education,innovation,and student development.We focus on holistic growth,technical training,and pratical exposure.
                </p>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item">✅Modern Labs & Infrastructure</li>
                    <li class="list-group-item">✅Experienced Faculty</li>
                    <li class="list-group-item">✅Industry-Ready Curriculum</li>
                    <li class="list-group-item">✅Placement Assistance</li>
                    <li class="list-group-item">✅Regular Workshops & Seminars</li>
                </ul>
                <a href="/feedback" class="btn btn-primary">Submit Feedback</a>
                <a href="/admin" class="btn btn-secondary">Admin panel</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
</body>
</html>